*{
    margin: 0;
    padding: 0;
}
html {
    min-height: 100%;
    position: relative;
  }
.headeer{
    padding: 25px;
    background-color: cyan;
}
.lis{
    display:inline;
    padding-left:3px;
    padding-right:3px;
}
.likhea{
    float: right;
}
footer{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}
table, th, tr, td{
    border: 1px solid black;
}
.general{
    margin: 20px;
}
table{
    margin: 10px;
}
.imagenproductos{
    /* width: 100px; */
    height: 100px; 
}
.general{
    display: flex;
}
.mediapa{
    width: 50%;
}
.subheader{
    text-align: center;
    padding: 10px;
    background-color: rgb(21, 16, 16);
}
.productoshome{
    /* display: inline-block; */
    background-color: blue;
    width: 1000px;
    margin: auto;
    height: 1000px;
}
.claseproducto{
    color: white;
    width: 300px;
    padding: 20px;
    margin: 10px;
    background-color: black;
    height: 300px;
    border-radius: 25px;
    display: inline-block;
    text-align: center;
}
.homeimagenproductos{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.unidades{
    width: 100px;
    height: 80px;
    border-radius: 100%;
    background-color: red;
    margin-left: 190px;
}